.fundo-cinza{
    background-color: #eaeaea;
}

.bg-nav{
background: #eaeaea;
}

.card{
    background-color: black;
    color: white;
}

.btn-meu{
    --bs-btn-color: #000000;
    --bs-btn-bg: #f8fbff;
    
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #686868;
    --bs-btn-hover-border-color: #ebebeb;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.card-title{
color: #757575;

}

footer{
    background-color: #bbbbbb;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}